.card {
  transition: transform 0.3s ease;
  width: 500px; /* Increased width to make cards larger horizontally */
  margin-right: 20px; /* Space between cards */
}

.card-container {
  overflow: hidden;
  position: relative;
  max-width: 100%;
}

.card-wrapper {
  display: flex;
  width: calc(100% * 3); /* Adjust based on card width and number of cards */
  animation: slide-left 20s linear infinite;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-60%); /* Move halfway since we have duplicates */
  }
}

.card {
  transition: transform 0.1s ease;
  width: 420px; /* Adjust as necessary */
  margin-right: 20px; /* Space between cards */
}

@media (max-width: 768px) {
  .card-wrapper {
    width: calc(100% * 5); /* Adjust width for more cards in the wrapper */
  }

  .card {
    width: 100%; /* Full width for mobile */
    margin-right: 0; /* No margin on mobile */
  }
}
